@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --box-shadow: 0px 3px 4px #b3b3b3;
    --bg: #ECEEF2;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: var(--bg);
    color: #323232;
}

a {
    color: #2989A8;
    text-decoration: none;
}